services:
  directory_service:
    container_name: directory_service
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5129:5129"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://*:5129
    depends_on:
      postgres: 
        condition: service_healthy
      directory_service_migrations:
        condition: service_completed_successfully

  directory_service_migrations:
    container_name: directory_service_migrations
    restart: "no"
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres: 
        condition: service_healthy
    entrypoint: [
      "/bin/sh",
      "-c",
      './efbundle --connection "Server=postgres;Port=5432;Database=directory_service_db;User Id=postgres;Password=postgres"'
    ]

  nginx:
    container_name: nginx
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - directory_service

  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: directory_service_db
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    container_name: redis
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
  seq:
    container_name: seq
    image: datalust/seq:latest
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "true"
    ports:
      - "8081:80"
      - "5341:5341"
    volumes:
      - seq_data:/var/lib/seq
volumes:
  postgres_data:
  seq_data:
  redis_data: